<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{ 'edit-task.edit-task' | translate }}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="emitSave()">
                <ion-icon name="checkmark"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <app-create-task [task]="(task$ | async)" [update]="saveEvents.asObservable()"></app-create-task>
</ion-content>