<div class="create-task-container">
  <mat-icon (click)="press()" class="drag-handle">drag_handle</mat-icon>
  <div class="task-header">
    <div fxLayout="row wrap" fxLayoutGap="1rem" class="header-row">
      <div fxFlex fxLayoutAlign="start end">
        <mat-form-field class="title">
          <input matInput #titleInput [(ngModel)]="title" (keyup.enter)="addTask()" class="title" placeholder="Title" autocomplete="off" type="text">
        </mat-form-field>
      </div>
      <div fxFlex="none" fxLayoutAlign="start center" class="button">
        <button class="add-button" (click)="addTask()" color="primary" mat-icon-button type="submit" aria-label="add task button">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="task-body">
    <div>
      <mat-form-field appearance="fill" class="input">
        <mat-label>Deadline</mat-label>
        <input matInput readonly [min]="getMinDate()" [(ngModel)]="deadline" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" class="input">
        <mat-label>Time</mat-label>
        <input matInput [(ngModel)]="time" type="time">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" class="input">
        <mat-label>Description</mat-label>
        <textarea matInput matTextareaAutosize matAutosizeMinRows=5 matAutosizeMaxRows=10 
        #autosize="matTextareaAutosize"></textarea>
      </mat-form-field>
    </div>
  </div>
</div>