.create-task-container {
    width: 100%;
    transition: height 1s ease;
    background-color: #fff;
    border-top: #00000011 solid 1px;
    transition: all 0.5s ease;
}

.task-header {
    padding-left: 1rem;
    padding-right: 1rem;
    right: 0px;
    bottom: 0px;
    border-bottom: #00000011 solid 1px;
}

.header-row {
    height: 5rem;
}

.task-body {
    padding-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.42);
}

.form {
    width: 100%;
}

.title {
    width: 100%;
    top: 0.5rem;
    transition: all 0.5s ease;
}

.input {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

.arrow {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    transition: all 0.5s ease;
}
