<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'notifications.notifications' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar>create</mat-icon>
      <mat-card-title>{{ 'notifications.002.header' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'notifications.002.date' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider><br />
    <mat-card-content class="content">
      <h6>{{ 'notifications.002.new_features' | translate }}</h6>
        <li>{{ 'notifications.002.search_pos' | translate }}</li>
        <li>{{ 'notifications.002.animation' | translate }}</li>
        <li>{{ 'notifications.002.relevant' | translate }}</li>
        <ul>
          <li>{{ 'notifications.002.relevant1' | translate }}</li>
          <li>{{ 'notifications.002.relevant2' | translate }}</li>
          <li>{{ 'notifications.002.relevant3' | translate }}</li>
        </ul>
      <h6>{{ 'notifications.002.bug_fixes' | translate }}</h6>
        <li>{{ 'notifications.002.search_case' | translate }}</li>
        <li>{{ 'notifications.002.bulletpoints' | translate }}</li>
        <li>{{ 'notifications.002.header_ios' | translate }}</li>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar src="../../../assets/icons/taskanizer.svg" />
      <mat-card-title>{{ 'notifications.001.header' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'notifications.001.date' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider><br />
    <mat-card-content class="content">
      <h6>{{ 'notifications.001.my-list' | translate }}</h6>
        <li>{{ 'notifications.001.add-tasks' | translate }}</li>
        <ul>
          <li>{{ 'notifications.001.title' | translate }}</li>
          <li>{{ 'notifications.001.datetime' | translate }}</li>
          <li>{{ 'notifications.001.description' | translate }}</li>
        </ul>
        <li>{{ 'notifications.001.sort-drag' | translate }}</li>
      <h6>{{ 'notifications.001.overview' | translate }}</h6>
        <li>{{ 'notifications.001.filter' | translate }}</li>
        <li>{{ 'notifications.001.search' | translate }}</li>
      <h6>{{ 'notifications.001.general-changes' | translate }}</h6>
        <li>{{ 'notifications.001.delete-tasks' | translate }}</li>
        <li>{{ 'notifications.001.check-tasks' | translate }}</li>
        <li>{{ 'notifications.001.hide-checked-tasks' | translate }}</li>
        <li>{{ 'notifications.001.translations' | translate }}</li>
        <li>{{ 'notifications.001.reset' | translate }}</li>
    </mat-card-content>
  </mat-card>
</ion-content>
