<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'notifications.notifications' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Taskanizer {{ 'notifications.version' | translate }} 0.0.1</mat-card-title>
      <mat-card-subtitle>{{ 'notifications.features' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider><br />
    <mat-card-content class="content">
      <h6>{{ 'notifications.content.my-list' | translate }}</h6>
        <li>{{ 'notifications.content.add-tasks' | translate }}</li>
        <ul>
          <li>{{ 'notifications.content.title' | translate }}</li>
          <li>{{ 'notifications.content.datetime' | translate }}</li>
          <li>{{ 'notifications.content.description' | translate }}</li>
        </ul>
        <li>{{ 'notifications.content.sort-drag' | translate }}</li>
      <h6>{{ 'notifications.content.overview' | translate }}</h6>
        <li>{{ 'notifications.content.filter' | translate }}</li>
        <li>{{ 'notifications.content.search' | translate }}</li>
      <h6>{{ 'notifications.content.general-changes' | translate }}</h6>
        <li>{{ 'notifications.content.delete-tasks' | translate }}</li>
        <li>{{ 'notifications.content.check-tasks' | translate }}</li>
        <li>{{ 'notifications.content.hide-checked-tasks' | translate }}</li>
        <li>{{ 'notifications.content.translations' | translate }}</li>
        <li>{{ 'notifications.content.reset' | translate }}</li>
    </mat-card-content>
  </mat-card>
</ion-content>
