@import '../../../theme/variables.scss';

.content {
    white-space: pre-wrap;
}

.header-image {
    background-image: url('../../../assets/icon/taskanizer.png');
    background-size: cover;
}

mat-card-header mat-icon {
    font-size: 40px;
    width: 40px;
    height: 40px;
}

mat-card {
    margin: 0.5rem;
}


h6 {
    margin-bottom: 0.2rem;
}

ul {
    margin: 0px;
    padding-left: 1.2rem;
}

ul li::before {
    font-family: Verdana;
    padding-left: 0rem;
    font-style: inherit;
    line-height: 1.3rem;
    font-size: 1rem;
    content: "-";
    color: var(--accent-color);
    display: inline-block;
    width: 1em;
}

li {
    padding-left: 0.5rem;
    font-size: 14px;
    line-height: 1.3rem;
    list-style: none
}

li::before {
    font-family: Verdana;
    font-style: inherit;
    line-height: 1.3rem;
    font-size: 1rem;
    content: "\25AA";
    color: var(--accent-color);
    display: inline-block;
    width: 1.2rem;
}