mat-list-item {
    background-color: white !important;
    border-bottom: 1px solid #00000011;
}

mat-action-list {
    margin-top: 2rem;
    padding: 0;
    border-top: 1px solid #00000011;
}

mat-list {
    border-top: 1px solid #00000011;
    margin-top: 2rem;
    padding: 0;
}