<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">    
      <button mat-icon-button *ngIf="!searchMode" [matMenuTriggerFor]="timespan" aria-label="select time span">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="!searchMode">
      {{ 'overview.' + title | translate }}
    </ion-title>
    <ion-searchbar *ngIf="searchMode" (input)="search($event)"></ion-searchbar>
    <ion-buttons slot="end">    
      <button mat-icon-button aria-label="search task" (click)="toggleSearchMode()">
        <mat-icon *ngIf="!searchMode">search</mat-icon>
        <mat-icon *ngIf="searchMode">clear</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="options" aria-label="more">
        <mat-icon>more_vert</mat-icon>
      </button>
    </ion-buttons>
    <mat-menu #timespan="matMenu">
      <button mat-menu-item (click)="selectMaxDeadline('today')"
        [style.background]="title === 'today' ? '#2c2c2c0a' : ''">
        {{ 'overview.today' | translate }}</button>
      <button mat-menu-item (click)="selectMaxDeadline('week')"
        [style.background]="title === 'week' ? '#2c2c2c0a' : ''">
        {{ 'overview.week' | translate }}</button>
      <button mat-menu-item (click)="selectMaxDeadline('overdue')"
        [style.background]="title === 'overdue' ? '#2c2c2c0a' : ''">
        {{ 'overview.overdue' | translate }}</button>
      <button mat-menu-item (click)="selectMaxDeadline('withoutDeadline')"
        [style.background]="title === 'withoutDeadline' ? '#2c2c2c0a' : ''">
        {{ 'overview.withoutDeadline' | translate }}</button>
      <button mat-menu-item (click)="selectMaxDeadline('relevant')"
        [style.background]="title === 'relevant' ? '#2c2c2c0a' : ''">
        {{ 'overview.relevant' | translate }}</button>
      <button mat-menu-item (click)="selectMaxDeadline('all')"
        [style.background]="title === 'all' ? '#2c2c2c0a' : ''">
        {{ 'overview.all' | translate }}</button>
    </mat-menu>
    <mat-menu #options="matMenu">
      <button *ngIf="!showDoneTasks" (click)="toggleShowDoneTasks()" mat-menu-item>
        <mat-icon>visibility</mat-icon>
        {{ 'overview.showChecked' | translate }}</button>
      <button *ngIf="showDoneTasks" (click)="toggleShowDoneTasks()" mat-menu-item>
        <mat-icon>visibility_off</mat-icon>
        {{ 'overview.hideChecked' | translate }}</button>
    </mat-menu>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-task-list [tasks]="(tasks$ | async)" [draggable]="false"></app-task-list>
</ion-content>
