<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">    
      <button *ngIf="!searchMode" [matMenuTriggerFor]="menu" mat-icon-button aria-label="select time span">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="!searchMode">
      {{ 'overview.' + title | translate }}
    </ion-title>
    <ion-searchbar *ngIf="searchMode" (input)="search($event)"></ion-searchbar>
    <ion-buttons slot="end">    
      <button mat-icon-button aria-label="search task" (click)="toggleSearchMode()">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button aria-label="more">
        <mat-icon>more_vert</mat-icon>
      </button>
    </ion-buttons>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="selectMaxDeadline('today')">
        {{ 'overview.today' | translate }}</button>
      <button mat-menu-item (click)="selectMaxDeadline('week')">
        {{ 'overview.week' | translate }}</button>
      <button mat-menu-item (click)="selectMaxDeadline('overdue')">
        {{ 'overview.overdue' | translate }}</button>
      <button mat-menu-item (click)="selectMaxDeadline('all')">
        {{ 'overview.all' | translate }}</button>
    </mat-menu>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-task-list [tasks]="(tasks$ | async)" [draggable]="false"></app-task-list>
</ion-content>
