<div class="listitem" [style.padding-left.px]="(task.level*12)">
    <mat-checkbox>&nbsp;</mat-checkbox>
    <div id="text">
        <div id="title">{{ task.title }}</div>
        <div id="subtitle" *ngIf="task.hasSubtitle()">
            <ion-icon id="priority" *ngIf="task.priority !== 0" name="ios-flame" [id]="'priority' + task.priority"></ion-icon>
            <span *ngIf="task.duration && (task.priority !== 0)"> - </span>
            <span *ngIf="task.duration"><ion-icon name="calendar"></ion-icon> {{ task.duration }}</span>
            <span *ngIf="task.reminder || task.attachment || task.repeat"> - </span>
            <ion-icon name="md-alarm" *ngIf="task.reminder"></ion-icon>
            <ion-icon name="md-repeat" *ngIf="task.repeat"></ion-icon>
            <ion-icon name="attach" *ngIf="task.attachment"></ion-icon>
        </div>
        <div id="tags">
            <div class="tag" *ngFor="let tag of task.tags">
                •
                <span>{{ tag }}</span>
            </div>   
        </div>
    </div>
    <ion-icon id="arrow" *ngIf="task.mainTask" name="ios-arrow-down"></ion-icon>
</div>
