@import '../../../theme/variables.scss';

.listitem {
    display: block;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
    max-height: 200px;
    width: 100%;
    right: 0;
    opacity: 1;
    transition: right 0.5s ease, opacity 0.5s ease, max-height 0.5s ease;
}

.flex-wrapper {
    border-bottom: 1px solid #00000011;
}

mat-checkbox {
    display: contents;
}

.text {
    color: var(--text-primary-color);
    padding: 10px 0px 10px 0px;
}

.title {
    font-size: 16px;
    font-weight: bold;
    color: #222;
    letter-spacing: .0125em;
}

.subtitle {
    font-size: 13px;
    color: var(--text-primary-color);
    letter-spacing: .0125em;
    vertical-align: middle;
    padding-top: 2px;
}

.subtitle ion-icon {
    font-size: 16px;
    margin-top: -3px;    
    vertical-align: middle;
}

.priority1 {
    color: darkcyan;
}

.priority2 {
    color: orange;
}

.priority3 {
    color: red;
}

.tag {
    background-color: var(--primary-color);
    color: var(--text-primary-darker-color);
    border-radius: 1rem;
    font-size: 13px;
    text-shadow: none;
    width: fit-content;
    padding: 0rem 0.3rem;
    float: left;
    margin-right: 0.5rem;
    margin-top: 4px;
}

.drag-handle {
    color: lightgray;
}