<div class="listitem" [style.right]="right" [style.opacity]="opacity" [style.maxHeight]="maxHeight" (swipeleft)="onSwipeLeft($event)">
    <div class="flex-wrapper" fxLayout="row" fxLayoutAlign="start center" [style.height]="50">
        <div fxFlex="15%" fxLayoutAlign="center center">
            <mat-checkbox [(ngModel)]="task.isDone" (change)="check()"></mat-checkbox>
        </div>
        <div (click)="editSelectedTask()" fxFlex class="text">
            <div class="title">{{ task.title }}</div>
            <div class="subtitle" *ngIf="hasSubtitle()">
                <span *ngIf="task.deadline">{{ 'task-item.due' | translate }} {{ getDueTime() }}</span>
            </div>
        </div>
        <div fxFlex="15%" fxLayoutAlign="center center">
            <ng-content></ng-content>
        </div>
    </div>
</div>