@import '../../../theme/variables.scss';

.input {
    width: 100%;
}

.register-button {
    width: 100%;
    margin: 0;
}

.registration-container {
    height: 90%;
    text-align: center;
    padding: 1rem;
}

.links {
    height: 10%;
    text-align: center;
}

.link {
    color: var(--primary-color)
}
