@import '../../../theme/variables.scss';

.input {
    width: 100%;
}

.register-button {
    width: 100%;
    margin: 0;
    margin-top: 1rem;
}

.registration-contianer {
    text-align: center;
    padding: 1rem;
}
