app-task-listitem {
    display: block;
}

app-create-task {
    position: fixed;
    width: 100%;
    height: 100%;
    top: calc(100% - 4rem);
    background-color: white;
    z-index: 1;
    overflow-y: auto;
    transition: top 1s ease;
}

ion-list {
    padding-top: 0px;
    padding-bottom: 5.5rem;
}
