app-task-listitem {
    display: block;
}

app-create-task {
    position: fixed;
    width: 100%;
    top: calc(100vh - 5rem - 3.5rem);
    z-index: 1;
    transition: top 1s ease;
}

ion-list {
    padding-top: 0px;
    padding-bottom: 5.5rem;
}